
/* BASE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

.fr-page {
  color: #121212;
}

.fr-nav

.fr-search-input

.fr-button-reset

.fr-button-cancel

.fr-results

.fr-username

.fr-is-friend

.fr-portfolio-value

.fr-view-user-profile


/* LAYOUT STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */


/* MODULE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */


/* STATE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */


/*
  DETAILS

  Base: Default styles. Typically applies to native elements: body, form, input, a, a:hover, etc.
  Layout: Styles that divide the page/component into sections. l- or layout-
  Module: Reusable, modular parts of design. Think: callouts, product lists, ratings graphs, etc.
  State: How things look in a particular state. Hidden or expanded? Active or inactive? is-hidden or is-collapse

  http://smacss.com/book/categorizing
  https://medium.com/@fuladuf/state-of-the-art-in-css-a-closer-look-at-css-architecture-systems-544339a6c625

*/